extends ./layout.jade
block contenido
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a.titulo.navbar-brand(href='#') Podcast Stream
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
     ul.navbar-nav.mr-auto
       li.nav-item.active
        a.nav-link(href='/login')
         u
          | Log In
       li.nav-item.active
        a.nav-link(href='#scrol2')
         u
          | Register
      form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search

          //Header

  section.container-fluid.slider.d-flex.justify-content-center.align-items-center.flex-column
    div.p-2
      h1.texto Start Listening Now
    div.p-2
    a(href='#scrol1')
        button.btn.btn-primary Start Free

        //Header2

  section.container-fluid.slider2.d-flex.justify-content-center.align-items-center.flex-column#scrol1
    div.p-2
      h1.texto Start Listening Now
    div.p-2
      a(href='#scrol2')
        button.btn.btn-primary Start Free

        //header3

  section.container-fluid.slider3.d-flex.justify-content-center.align-items-center.flex-column#scrol2
      .p-2
        h2.texto2.text-uppercase What are you waiting to register?
      .p-2
        form(action='/register' method='post')
          .form-group
            label(for='email')
              h5.texto2 Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' required name='email')
          .form-group
            label(for='password')
              h5.texto2 Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password' required name='password')
          button.btn.btn-primary(type='submit') Submit
