extends ./layout.jade
block contenido
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a.titulo.navbar-brand(href='/') < Volver
  section.container-fluid.sliderLogin.d-flex.justify-content-center.align-items-center.flex-column#scrol2
    .p-2
      h2.texto.text-uppercase Welcome Again!
    .p-2
      a(href='/facebook_login')
        img.fblogin(src='images/continue_fb.png')
    .p-2
      a(href='/googleauth')
        img.gologin(src='images/gologin.png')
