body {
	overflow-x:hidden;
	overflow-y:scroll;
  margin: 0;
	background-color: #3A539B;
}



.titulo {
  font-family: 'Fjalla One', sans-serif;
  color: #EEEEEE;
  margin-left: 25px;
}

.header {
  background-color: #2C3E50;
}

.texto {
  font-family: 'Quicksand', sans-serif;
  color: #EEEEEE;
}

.texto-margin {
  font-family: 'Quicksand', sans-serif;
  color: #EEEEEE;
  margin-left: 25px;
}

.texto2 {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}

.tecnologiaImg {
	height: 150px;
	width: 150px;
}

/* Inicio configuracion header */

.monitor {
  width: 100%;
  height: 700px;
	margin: 0;
}

.smallMonitor {
  width: 100%;
  height: 600px;
	margin: 0;
}

.tablets {
  width: 100%;
  height: 500px;
	margin: 0;
}

.movil {
  width: 100%;
  height: 100px;
	margin: 0;
}

/* Fin configuracion header */
/* Inicio Download APK */

.apkDownload {
	width: 200px;
	height: 300px;
}
