body {
	overflow-x:hidden;
	overflow-y:scroll;
  margin: 0;
	background-color: #343A40;
}

.texto {
  font-family: 'Source Sans Pro', sans-serif;
  color: #EEEEEE;
}

.texto2 {
  color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	max-height: 970px;
}

.slider {
	background: url("/images/header.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.slider2 {
	background: url("/images/header3.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.slider3 {
	background: url("/images/header2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.sliderLogin {
	background: url("/images/headerLogin.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.flecha {
	height: 50px;
	width: 50px;
}

.gologin {
	height: 60px;
	width: 230px;
}

.fblogin {
	height: 60px;
	width: 410px;
}
