doctype html
html(lang='en')
  head
    script(src='/js/barra.js')
    link(href='/css/barra.css', rel='stylesheet')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    link(href='https://fonts.googleapis.com/css?family=Fjalla+One|Quicksand', rel='stylesheet')
    title Podcast Stream
  body
    // Comienzo Menu
    .row.header
      .container-fluid
        .col-md-12
          a(href='#')
            h4.titulo.text-uppercase Podcast Stream
    // Fin Menu
    // Comienzo Header
    .row
      .container-fluid
        .col-md-12
          div(style='position: relative;')
            .monitorDiv.visible-lg
              img.monitor.img-rounded(src='images/header.jpg')
              div(style='position: absolute; right: 100px; top: 60px;')
                h1.texto.text-center
                  | Streaming de Podcast
                  br
                  |  en tiempo real
                br
                center
                  a(href='#start')
                    input.btn.btn-success(type='button', value='Comenzar')
            .smallMonitorDiv.visible-md
              img.smallMonitor(src='images/header.jpg')
              div(style='position: absolute; right: 100px; top: 60px;')
                h1.texto.text-center
                  | Streaming de Podcast
                  br
                  |  en tiempo real
                br
                center
                  a(href='#start')
                    input.btn.btn-success(type='button', value='Comenzar')
            .tabletsDiv.visible-sm
              img.tablets(src='images/header.jpg')
              div(style='position: absolute; right: 55px; top: 60px;')
                h1.texto.text-center
                  | Streaming de Podcast
                  br
                  |  en tiempo real
                br
                center
                  a(href='#start')
                    input.btn.btn-success(type='button', value='Comenzar')
    // Fin Header
    // Comienzo Body
    #start.row.hidden-xs
      .container-fluid
        .col-md-12
          h3.texto2.text-center Aprende sobre temas de tu interes escuchando Podcast en tus tiempos libres!
    br
    .row.hidden-xs
      .container
        .col-md-4(style='position: relative;')
          h4.text-center.texto2 Tecnologia
          center
            img.tecnologiaImg.img-rounded.img-responsive(src='/images/code.jpg')
          div(style='position: absolute; right: 148px; top: 100px;')
        .col-md-4
          h4.text-center.texto2 Musica
          center
            img.tecnologiaImg.img-rounded.img-responsive(src='/images/auri.jpg')
          div(style='position: absolute; right: 148px; top: 100px;')
        .col-md-4
          h4.text-center.texto2 Educacion
          center
            img.tecnologiaImg.img-rounded.img-responsive(src='/images/educa.jpg')
          div(style='position: absolute; right: 148px; top: 100px;')
      br
      br
    #registro.row.hidden-xs
      .container
        .col-md-8
          h3.texto2 Nuevo Usuario?
          br
          form(action='/signup', method='post', data-toggle='validator')
            .form-group
              label Nombre
              input.form-control(type='text', name='name', placeholder='Nombre', required='')
            .form-group
              label Email
              input.form-control(type='email', name='mail', placeholder='Email', required='')
            .form-group
              label Contraseña
              input.form-control(type='password', name='password', placeholder='Contraseña', required='')
            .checkbox
              label
                input(type='checkbox', required='')
                |  Acepto los
                a(href='/terms') terminos y condiciones
                |  de la pagina.
            button.btn.btn-primary(type='submit') Enviar
        br
        .col-md-3.col-md-offset-1
          h3.texto2 Iniciar Sesion!
          br
          form(action='/session', method='post', data-toggle='validator')
            .form-group
              label Email address
              input.form-control(type='email', placeholder='Email', name='email')
            .form-group
              label Password
              input.form-control(type='password', placeholder='Password', name='passwordLogin')
            button.btn.btn-primary(type='submit') Enviar
      br
      br
    // Findy
    // Movil Version
    .row.visible-xs
      .container-fluid
        .col-md-12
          center
            h3.texto Descargar Aplicacion
            a(href='https://goo.gl/vQ26Ce')
              img.apkDownload(src='images/google-play.svg')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/desSuave.js')
