doctype html
html(lang="en")
  head
    title= PodcastStream
    script(src='/js/barra.js')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app/index.css')
    link(href='https://fonts.googleapis.com/css?family=Fjalla+One|Quicksand', rel='stylesheet')
    link(href='/css/barra.css', rel='stylesheet')

  body
    .row
      .container-fluid
        .col-md-2
          h4.titulo Podcast Stream
        .col-md-8
          h4.titulo.text-center Bienvenido
        .col-md-1.col-md-offset-1
          a(href='/signout')
            h4.titulo Cerrar Sesion
    br
    .row
      .container-fluid
        .col-md-10
          h2.texto-margin Seguidores en vivo
        .col-md-2
          h3.titulo.text-center Los mejores streamers
          h4.texto.text-center Francisco Ramirez
          img.img-rounded.center-block(src='images/app/auri.jpg' style='max-widht=125px; max-height: 125px;')
          br
          h4.texto.text-center David Devoto
          img.img-rounded.center-block(src='images/app/david_devoto.jpg' style='max-widht=125px; max-height: 125px;')
          br
          h4.texto.text-center Romina Perez
          img.img-rounded.center-block(src='images/app/default.jpg' style='max-widht=125px; max-height: 125px;')

    script(src='/js/app/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js', integrity='sha256-KaSi3am04I2b10TZZ7JqEYrnNk94r0QOeIY3PtwGR/M=', crossorigin='anonymous')
